<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}SavEmail{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap-responsive.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap-colorpicker.css') }}" rel="stylesheet">

            <link href="{{ asset('css/stylesheets/screen.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
            <link href="{{ asset('css/stylesheets/print.css') }}" media="print" rel="stylesheet" type="text/css" />

            <!--[if IE]>
              <link href="{{ asset('css/stylesheets/ie.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
            <![endif]-->
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="{{ path('rm_email_home') }}">SavEmail</a>
                    <div class="header-divider"></div>
                    <div class="nav-collapse collapse">
                        <p class="navbar-text pull-right">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                Connecté en tant que <a href="#" class="navbar-link">{{ app.user.username }}</a> |
                                <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                            {% else %}
                                <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                            {% endif %}
                        </p>
                        <ul class="nav">
                          <li class="active"><a href="{{ path('rm_email_home') }}"><i class="icon-home icon-white"></i> Accueil</a></li>
                          <li class=""><a href="#modalAddEmail" data-toggle="modal"><i class="icon-plus icon-white"></i> Ajouter un email</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
                    <div class="well">

                        {{ render(controller("rmEmailBundle:Categorie:menu")) }}

                        <hr>

                        {{ render(controller("rmEmailBundle:Categorie:add")) }}
                    </div>
                </div>

                <div id="content" class="span6">
                    {% block body %}{% endblock %}
                </div>

                <div class="span3">
                    <div class="well">
                        {{ render(controller("rmEmailBundle:Default:menuFavoris", {'nombre':5} )) }}
                    </div>
                </div>

            </div>
            
            <footer>
                <hr>
                <p>&copy; SavEmail</p>
            </footer>

        </div>

        <div class="ctr-modal">
            {{ render(controller("rmEmailBundle:Default:add" )) }}
        </div>

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('lib/jquery-2.0.0.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
            <script src="{{ asset('js/bootstrap-colorpicker.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/ZeroClipboard.min') }}"></script>
            <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
