<div id="modalAddEmail" class="modal hide fade">
	<div class="modal-header">
		<h3>Ajouter un email</h3>
	</div>

	<div class="modal-body">
		<form action="{{ path('rm_email_add') }}" method="post" {{ form_enctype(form) }} >

			{{ form_label(form.object, "Objet du mail") }}
			{{ form_widget(form.object) }}

			{{ form_label(form.content, "Contenu du mail") }}
			{{ form_widget(form.content) }}

			{{ form_widget(form.categories) }}

			<label>
				Mettre ce mail en favoris {{ form_widget(form.isFavorite) }}
			</label>

			{{ form_rest(form) }}

	</div>
	<div class="modal-footer">		
			<input type="submit" class="btn btn-primary" />
		</form>
	
		<button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
	</div>

</div>
