{% extends "::base.html.twig" %}

{% block title %} Modifier - {{ parent() }} {% endblock %}

{% block body %}
	<h2>Modifier l'email</h2>
	<hr>
	<div class="well">
		<form action="{{ path('rm_email_update', {'id': form.vars.value.id}) }}" method="post" {{ form_enctype(form) }} >

			{% include "utiles/form-error.html.twig" %}

			{{ form_label(form.object, "Objet du mail") }}
			{{ form_widget(form.object) }}

			{{ form_label(form.content, "Contenu du mail") }}
			{{ form_widget(form.content) }}

			{{ form_label(form.isFavorite, "Mettre ce mail en favoris") }}
			{{ form_widget(form.isFavorite) }}

			{{ form_rest(form) }}

			<hr>

			<input type="submit" class="btn btn-primary" />
		</form>
	</div>

{% endblock %}
