{% extends "::base.html.twig" %}

{% block title %} Catégorie {{ categorie.title }} - {{ parent() }} {% endblock %}

{% block body %}
	<div class="info">
		{% for message in app.session.flashbag.get('info') %}
			<div class="alert alert-info">  
			  <a class="close" data-dismiss="alert">×</a>  
			  <strong>Informations : </strong>{{ message }}  
			</div> 
		{% endfor %}
	</div>

	<h2>{{ categorie.title }}</h2>

	<p>
		<a href="{{ path('rm_email_categorie_home') }}" class="btn">
			<i class="icon-chevron-left"></i>
			Retour à la liste
		</a>

		<a href="{{ path('rm_email_categorie_update', {'id': categorie.id }) }}" class="btn">
			<i class="icon-edit"></i>
			Modifier la catégorie
		</a>

		<a href="{{ path('rm_email_categorie_delete', {'id': categorie.id }) }}" class="btn">
			<i class="icon-trash"></i>
			Supprimer la catégorie
		</a>
	</p>

{% endblock %}
