{% extends "::base.html.twig" %}

{% block title %} Modifier - {{ parent() }} {% endblock %}

{% block body %}
	<h2>Modifier la catégorie</h2>
	<hr>
	<div class="well">
		<form class="form-inline" action="{{ path('rm_email_categorie_update', {'id': form.vars.value.id} ) }}" method="post" {{ form_enctype(form) }} >

			{{ form_widget(form.title, {'attr': {'class': 'span6', 'placeholder': 'titre'} }) }}
			{{ form_widget(form.color, {'attr': {'class': 'bscp colorpicker span1'} }) }}

			{{ form_rest(form) }}

			<input type="submit" class="btn" value="Valider" />
		</form>
	</div>

{% endblock %}
